section.section.section-home-categories
	.categories-grid
		.card-image-overlay
			.card-image
				+PugImg('./img/aodai3.png')
				.card-overlay
					h3.card-title TIMELESS <br> PERFECTION
					a.btn-outline(href="#") EXPLORE
		.card-image-overlay
			.card-image
				+PugImg('./img/aodai3.png')
				.card-overlay
					h3.card-title THE SPARKLES OF <br> LUXE & PEARL
					a.btn-outline(href="#") EXPLORE
