header.header
	.container
		.header-wrapper
			ul.header-left.menu-list
				li.menu-item.has-dropdown
					a.header-link(href="#")
						.btn-inner
							.main-text.text SHOP
							.hover-text(class="text") SHOP
					.mega-menu
						.container
							.mega-menu-wrapper
								.mega-menu-column
									.column-title MODERNE HERITAGE
									.column-content
										ul.menu-list
											li
												a(href="#") AO DAI MADAME
											li
												a(href="#") AO DAI FIRSTLADY
											li
												a(href="#") BA BA MADEMOISELLE
											li
												a(href="#") BA BA GABRIELLA
								.mega-menu-column
									.column-title WOMENWEAR
									.column-content
										ul.menu-list
											li.has-submenu
												a(href="#") 
													span READY TO WEAR
													i.fa-solid.fa-chevron-down
											li.has-submenu.active
												a(href="#") 
													span BAG & ACCESSORIES
													i.fa-solid.fa-chevron-down
												ul.submenu-level2
													li
														a(href="#") LEATHER GOODS
													li
														a(href="#") BELTS
													li
														a(href="#") JEWLERY
											li.has-submenu
												a(href="#") 
													span SHOES
													i.fa-solid.fa-chevron-down
								.mega-menu-column
									.column-title MENWEAR
									.column-content
										ul.menu-list
											li.has-submenu
												a(href="#") 
													span READY TO WEAR
													i.fa-solid.fa-chevron-down
											li.has-submenu
												a(href="#") 
													span BAG & ACCESSORIES
													i.fa-solid.fa-chevron-down
											li
												a(href="#") SHOES
								.mega-menu-images
									.image-wrapper
										+PugImg('https://placehold.co/300x400')
									.image-wrapper
										+PugImg('https://placehold.co/300x400')
								.mega-menu-footer
									a.shop-all-link(href="#") 
										span SHOP ALL
										i.fa-solid.fa-arrow-right
				li.menu-item
					a.header-link(href="#") COLLECTIONS
				li.menu-item
					a.header-link(href="#") SALE
			
			.header-center
				a.logo(href="/") HUYVO
			
			.header-right
				button.header-icon.search-btn
					i.fa-regular.fa-magnifying-glass
				button.header-icon.user-btn
					i.fa-regular.fa-user
				button.header-icon.cart-btn
					i.fa-regular.fa-bag-shopping
				button.header-hamburger
					span
					span
					span

//- Search Overlay
.header-search-overlay
	.search-overlay-inner
		.container
			.search-wrapper
				button.search-close
					i.fa-solid.fa-xmark
				.search-form
					input.search-input(type="text" placeholder="Search...")
					button.search-submit
						i.fa-solid.fa-magnifying-glass
