section.section-home-explore
	.container.max-w-full
		.section-title
			span.section-subtitle EXPLORE
			h2.section-heading MODERN HERITAGE
		
		.explore-slider
			.swiper
				.swiper-wrapper
					.swiper-slide
						.explore-item
							+PugImg('https://placehold.co/882x800')
					.swiper-slide
						.explore-item
							+PugImg('https://placehold.co/882x800')
					.swiper-slide
						.explore-item
							+PugImg('https://placehold.co/1512x800')
			.swiper-pagination
