section.section.section-home-new-arrivals
	.container.max-w-full
		//- Section Header (Title + View All only)
		.section-header
			.title-wrapper
				h2.section-heading NEW ARRIVALS
				a.view-all-link(href="#") View all

		//- Slider Wrapper (Swiper + Arrows)
		.slider-wrapper
			//- Arrow Prev
			button.nav-btn.nav-prev(type="button" aria-label="Previous")
				i.fa-light.fa-chevron-left
			
			//- Swiper Slider
			.new-arrivals-slider
				.swiper
					.swiper-wrapper
						- for(var i = 1; i <= 6; i++)
							.swiper-slide
								.product-item
									.product-img
										+PugImg('./img/aodai1.png')
										.product-actions
											button.add-to-cart-btn ADD TO CART
									.product-info
										.product-tags
											span.product-tag NEW
										h3.product-name
											a(href="#") LẬP HỒNG XUÂN SAKURA
										p.product-price 7.700.000 ₫
			
			//- Arrow Next
			button.nav-btn.nav-next(type="button" aria-label="Next")
				i.fa-light.fa-chevron-right
