// ================================================
// SECTION HOME NEW ARRIVALS
// ================================================

.section-home-new-arrivals
	@apply pt-6 lg:pt-6 lg:pb-10 xl:pt-10 xl:pb-10

	// Section Header (Title + View All)
	.product-item
		.product-variants
			.variant-sizes
				@apply hidden
	.section-header
		@apply mb-10
		.title-wrapper
			@apply flex flex-col gap-3.5
			.section-heading
				@apply title-32 font-medium uppercase tracking-wide text-primary-black05 leading-none
			.view-all-link
				@apply title-20 text-primary-black04 transition-colors
				&:hover
					@apply text-primary-black05

	.slider-wrapper
		@apply relative 

		.nav-btn
			@apply absolute z-10
			@apply sq-10 flex items-center justify-center transition-all duration-300 cursor-pointer
			@apply hidden lg:flex
			top: 50%

			i
				@apply title-24 text-primary-black04

			&:hover
				i
					@apply text-primary-black05

			&.nav-prev
				left: 0
				transform: translate(-100%, -50%)

			&.nav-next
				right: 0
				transform: translate(100%, -50%)

			// Disabled state
			&.swiper-button-disabled
				@apply opacity-30 cursor-not-allowed
				&:hover
					i
						@apply text-primary-black05

	// Swiper Container
	.new-arrivals-slider
		@apply relative 
		.swiper
			@apply w-full
