//- ================================================
//- SECTION HOME BANNER CTA
//- ================================================
section.section-home-banner-cta
	.banner-wrapper
		.banner-image
			+PugImg('./img/aodai.png')
		.banner-content
			.container
				.content-inner
					h2.banner-heading DISCOVER YOUR STYLE
					a.btn-primary-3(href="#") Explore Collection
