include ../../../global/ProductItem/ProductItem
include ../../../global/ShopToolbar/ShopToolbar

section.section-shop-list
	//- Banner Hero
	.shop-banner
		+PugImg('./img/aodai4.png')

	.wrapper-shop.container.max-w-full
		//- Description (Text Block)
		.shop-description
			p MADAME HUY VO'S AO DAI IS A BLEND OF THE PRECIOUS HERITAGE OF THE TRADITIONAL DRESS WITH CONTEMPORARY BEAUTY, REPRESENTING A SEAMLESS CONNECTION BETWEEN THE PAST, PRESENT, AND FUTURE.

		//- Breadcrumb
		.breadcrumb-wrapper
			ul.breadcrumb
				li
					a(href="/") HOME
				li
					span /
				li
					a(href="#") SHOP
				li
					span /
				li
					span.active SHOP ALL

		//- Page Title
		h1.page-title ALL PRODUCTS

		//- Filter Toolbar (Component)
		+ShopToolbar(120)

		//- Product Grid
		.shop-grid
			- for(var i = 1; i <= 12; i++)
				-
					var productData = {
						name: "LẬP HỒNG XUÂN SAKURA",
						price: "7.700.000 ₫",
						imgPrimary: "./img/aodai1.png",
						imgHover: "./img/aodai2.png",
						link: "#",
						tag: i % 3 === 0 ? "NEW" : "",
						sizes: ["XS", "S", "M", "L"],
						colors: [
							{ color: "#000080", name: "Navy" },
							{ color: "#F5F5DC", name: "Beige" }
						]
					}
				+ProductItem(productData)

		.btn-action
			a.btn-primary-1(href="#") View More
