mixin Quote(text)
	.global-quote-section&attributes(attributes)
		.quote-wrapper
			.quote-icon.icon-left
				img(class="quote-left-icon", src="./img/quote.svg")
			h2.quote-text
				if block
					block
				else
					| !{text}
			.quote-icon.icon-right
				img(class="quote-right-icon", src="./img/quote-right.svg")
			.author-text
				p - HUY VO -
