section.section.section-home-banner
	.banner-wrapper
		.banner-item
			+PugImg('https://placehold.co/1920x1080')
			.banner-content
				.container
					.top-right-text
						p A touch of heritage to
						p modern lifestyle.
					
					.bottom-center-text
						p.banner-subtitle THE HEALER
						h2.banner-title HUYVO
