section.page-search-results
	.container
		.search-header
			h1.page-title Search Results
			p.search-query-text Results for keyword: 
				span "Ao Dai"

		// Product Section
		.post-type-section.product-section
			h2.section-title 
				| Products
				span.count (3)
			.search-grid
				// Loop items...
				.product-item
				.product-item
				.product-item

		// Post Section
		.post-type-section.post-section
			h2.section-title 
				| Articles
				span.count (12)
			.search-grid
				// Loop items...
				.post-item
				.post-item
