section.page-404
	.container
		.content-404
			.number-404 404
			h1.title-404 Page Not Found
			p.desc-404 The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
			a.btn-home(href="/") 
				span Back to Home
