.checkout-woo {
  position: relative;
  z-index: 1;
}

.checkout-woo .checkout-woo-inner-form {
  display: flex;
  flex-wrap: wrap;
}
.checkout-woo .checkout-woo-inner-form-left {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 80px 20px;
  background-color: #fff;
}
.checkout-woo .checkout-woo-inner-form-right {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 80px 20px;
}

.checkout-woo .checkout-woo-inner-form-left .col2-set > div {
  width: 100% !important;
  float: none !important;
  clear: both !important;
  max-width: 100%;
}
.checkout-woo .checkout-woo-inner-form-left .col2-set .col-2 {
  display: none;
}

.checkout-woo .woocommerce-billing-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  margin: 0 -10px !important;
}
.checkout-woo .checkout-woo-inner-form-left h3 {
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #0e1010;
  margin-bottom: 40px;
}
.checkout-woo
  .woocommerce-billing-fields__field-wrapper
  .form-row
  input[type="text"],
.woocommerce-billing-fields__field-wrapper .form-row input[type="email"],
.woocommerce-billing-fields__field-wrapper .form-row input[type="number"],
.woocommerce-billing-fields__field-wrapper .form-row select,
.checkout-woo .woocommerce-billing-fields__field-wrapper .select2-selection,
.woocommerce-billing-fields__field-wrapper .form-row input[type="tel"] {
  width: 100% !important;
  max-width: 100% !important;
  border: 1px solid var(--Black-tone-01, #d3d3d3);
  padding: 0 20px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}
.checkout-woo
  .woocommerce-billing-fields__field-wrapper
  #billing_first_name_field,
.checkout-woo
  .woocommerce-billing-fields__field-wrapper
  #billing_last_name_field,
.checkout-woo .woocommerce-billing-fields__field-wrapper #billing_email_field,
.checkout-woo .woocommerce-billing-fields__field-wrapper #billing_phone_field {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 10px !important;
  display: block;
}
#billing_address_1_field,
.checkout-woo
  .woocommerce-billing-fields__field-wrapper
  #billing_country_field {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 10px !important;
  display: block;
}

.woocommerce-checkout form .form-row label {
  display: none !important;
}

#billing_ward_field,
#billing_district_field,
#billing_state_field {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 10px !important;
  display: block;
}

#billing_ward_field .woocommerce-input-wrapper,
#billing_district_field .woocommerce-input-wrapper,
#billing_state_field .woocommerce-input-wrapper {
  width: 100%;
}

#billing_ward_field:after,
#billing_district_field:after,
#billing_state_field:after {
  display: none;
}
#billing_ward_field:before,
#billing_district_field:before,
#billing_state_field:before {
  display: none;
}
#order_comments_field {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 10px !important;
  display: block;
}
